* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fw-regular: normal;
  --fw-bold: bold;
  --c-title: #1c1c1c;
  --c-title-small: #545454;
  --c-input-border: #e4e4e4;
  --c-input-border-focus: #007bff;
  --c-select-triangle: #969696;
  --c-background: #ffffff;
  --c-page-background: #f7f7f7;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-regular);
  width: 100%;
  color: var(--c-title-small);
}

h1 {
  margin: 0;
}

input {
  width: 15.4em;
}

.page-container {
  background-color: var(--c-page-background);
  height: 100vw;
  padding-top: 3em;
}

.wrapper {
  max-width: 34.5em;
  margin: 3em auto 0;
  background-color: var(--c-background);
  padding: 1em;
}

.c-header__title,
.c-form__input-container,
.c-form-item__after-text,
.c-form__radio-btn,
.c-form__content--empty,
.c-footer__text,
.c-footer__line {
  margin-bottom: 1.25em;
}

/* Header */

.c-header__title {
  text-align: left;
  font-weight: bold;
  color: var(--c-title);
}

/* Form */

.c-form__wrapper {
  padding: 0.5em;
}

.c-form__input-container {
  display: flex;
  justify-content: space-between;
}

.c-form__input {
  height: 2.5em;
  padding: 0.5em;
  border: 1px solid var(--c-input-border);
  border-radius: 6px;
  outline: none;
  color: var(--c-select-triangle);
}

.c-form__input--big {
  width: 100%;
}

.c-form-item__after-text,
.c-form__select--color {
  color: var(--c-select-triangle);
}

.c-form-item__label,
.c-form__input--big {
  margin-bottom: 0.5em;
}

.c-form__input:focus {
  border: 1px solid var(--c-input-border-focus);
  transition: border 0.2s;
}

/* File load */

.c-form__input-container--profile {
  width: 100%;
  max-width: 15em;
  align-items: center;
}

.c-form__img {
  margin-right: 1.25em;
}

.c-form__input--file {
  width: 8.75em;
  height: 1.9em;
  visibility: hidden;
}

input[type="button"] {
    background-color: var(--c-background);
}

.c-form__content--file-load {
  border: 1px solid var(--c-input-border);
  border-radius: 6px;
  margin-right: 0.7em;
}

.c-form__item--file-load {
  position: relative;
  display: block;
  height: 1.9em;
}

.c-form__camera {
  position: absolute;
  background-image: url(../assets-forms-extra/camera.png);
  width: 14px;
  height: 12px;
  top: 0.6em;
  right: 0.5em;
}

.c-form__input--bin {
  width: 1.9em;
  height: 1.9em;
  background-image: url(../assets-forms-extra/recycle-bin.png);
  background-repeat: no-repeat;
  background-position: center;
}

.c-form__file-bin-container {
  display: flex;
}

.c-form__text {
  font-size: 0.8em;
  margin-top: 0.5em;
}

/* Select */

.c-form__input--select {
  width: 15.4em;
  appearance: none;
  background-image: url(../assets-forms-extra/double-arrow.svg);
  background-repeat: no-repeat;
  background-position: 13.5em;
  color: var(--c-select-triangle);
}

.c-form__input--small {
  width: 9.4em;
}

