@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  --main-text-color: rgb(0, 0, 0);
  --additional-text-color: rgb(130, 130, 130);
  --message-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

/* Block 1: header with navigation  */

.nav-container {
  margin: 1.1em 0 5.5em 0;
}
.navigation {
  max-width: 45vw;
  margin: 0 auto;
}

.border-bottom {
  max-width: 60vw;
  margin: 0 auto;
  border-bottom: 2px solid var(--additional-text-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--additional-text-color);
  text-decoration: none;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  text-shadow: 0px 1px 3px var(--additional-text-color);
}

.main-heading {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}

.denis-novik-foto-container {
  text-align: center;
  margin: 2em auto;
}

.denis-novik-foto {
  width: 60vw;
}

/* Block 2: About Denis Novik */

.bg-banner {
  width: 100vw;
  height: 30em;
  background: url(../assets-denis-novik/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.section-headings {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  padding: 3em 0 1em 0;
}

.about-me-text {
  text-align: center;
  padding: 1em 0;
  font-weight: 400;
}

/* Block 3: Denis Novik's Skills */

.skills-text {
  text-align: center;
  padding: 1em 0;
  font-weight: 400;
}

.programs {
  max-width: 60vw;
  margin: 4em auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.program-bg {
  background-color: var(--main-text-color);
  width: 5em;
}

.figma-icon {
  width: 5em;
}

.program-name {
 color: var(--additional-text-color);
 padding: 0.8em 0 2em;
}

/* block 4: Denis Novik's Portfolio */

.portfolio-bg {
  background-image: url(../assets-denis-novik/bg-portfolio.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.site-link-img {
  display: block;
  width: 60vw;
  margin: 4em auto 1em;
}

.portfolio-site-link {
  width: 15em;
  text-align: center;
}

/* Block 5: Footer - Contacts */

.contact-text {
  margin: -2em;
}
.message-btn {
  margin: 4em auto 3em;
  background-color: var(--main-text-color);
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
}
.message-text {
  padding: 0.4em 0;
  text-align: center;
  color: var(--message-color);
  letter-spacing: 0.1em;
  font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 18vw;
  margin: 0 auto;
}

.sm-icon {
  width: 2.9em;
}

.like-me-on {
  font-weight: 400;
  font-size: 0.9em;
  color: var(--additional-text-color);
  text-align: center;
  margin: 2em auto 6em;

}