* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: map-get($colors, "navigation");
}

img {
  display: block;
  width: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
