$colors: (
  "navigation": #aaa4a4,
  "title": #ffffff,
  "button-bg": #e51937,
  "card-bg": #131313,
  "additional-text": #707070,
  "auto-description": #9b9797
);

$f-families: (
  "title": 'Teko, sans-serif', 
  "text": 'Noto Sans, sans-serif'
);

$f-weights: (
  "navigation": 700,
  "title": 500,
  "text": 400
);

$f-base: 16;