$colors: (
  "navigation": rgb(170, 164, 164),
  "title": rgb(255, 255, 255),
  "button-bg": rgb(229, 25, 55),
  "card-bg": rgb(19, 19, 19),
  "additional-text": rgb(112, 112, 112),
  "auto-description": rgb(155, 151, 151)
);

$f-families: (
  "title": 'Teko', 
  "text": 'Noto Sans'
);

$f-weights: (
  "navigation": 700,
  "title": 500,
  "text": 400
);

$f-base: 16;