@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(59, 63, 69);
  --header-color: rgb(74, 79, 86);
  --header-text-color: rgb(255, 137, 132);
  --list-text-color: rgb(255, 255, 255);
  --list-item-hover-color: rgb(98, 94, 119);
  --odd-list-items-color: rgb(136, 131, 158);
  --even-list-items-color: rgb(122, 117, 147);
  --checked-list-item: rgb(155, 150, 172);
}

body {
  font-size: 18px;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif;
}

/* Header */

.shopping-list-header {
  background-color: var(--header-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.shopping-list-heading {
  font-size: 2em;
  font-weight: 700;
  color: var(--header-text-color);
  padding-top: 1em;
}

.shopping-list-header-text {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--header-text-color);
  padding-bottom: 0.7em;
}

/* Main Part */

.bg {
  background-color: var(--background-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.shopping-list-form {
  list-style-type: none;
  padding-top: 2em;
}

.shopping-list-item {
  height: 3.5em;
  width: 45em;
  display: inline-block;
  text-align: start;
  color: var(--list-text-color);
}

.shopping-list-item:hover {
  background-color: var(--list-item-hover-color);
  border-top-color: var(--list-text-color);
  border-bottom-color: var(--list-text-color);
  transition: all 0.1s ease-in;
}

.shopping-list-item:active {
  background-color: var(--header-text-color);
  transition: all 0.1s ease-in;
}

li:nth-of-type(odd) {
  background-color: var(--odd-list-items-color);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease-in;
}

li:nth-of-type(even) {
  background-color: var(--even-list-items-color);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease-in;
}

input[type="checkbox"] {
  visibility: hidden;
}

.input-item {
  display: inline-block;
  position: relative;
  margin: 0.5em 1em 0 -1.7em;
  height: 1.3em;
  width: 1.3em;
  background-color: var(--list-text-color);
  transform: translateY(33%);
}

input:checked ~ .input-item:after {
  display: inline-block;
  content: url(../assets-shopping-list/tick.png);
  position: absolute;
  text-align: center;
  left: 0.3em;
  top: 0.1em;
  color: black;
}

input:checked ~ span {
  text-decoration: line-through;
  color: var(--checked-list-item);
}

input {
  margin: 1em;
}

.list-field {
  display: flex;
}

label {
  width: 45em;
  height: 3.5em;
  cursor: pointer;
}

.additional-list-text {
  font-size: 0.9em;
}

.shopping-list-text {
  display: inline-block;
  transform: translateY(15%);
}

.additional-list-text::before {
  content: "(";
}

.additional-list-text::after {
  content: ")";
}

/* Bon appetit button */

.bon-appetit-button {
  border: none;
  background-color: var(--header-color);
  width: 30em;
  height: 2.5em;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--header-text-color);
  margin-top: 2.5em;
  cursor: pointer;
}

.bon-appetit-button:active {
  background-color: var(--header-text-color);
  color: var(--list-text-color);
  transition: all 0.1s ease-in;
}
