@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(59, 63, 69);
  --header-color: rgb(74, 79, 86);
  --header-text-color: rgb(255, 137, 132);
  --list-text-color: rgb(255, 255, 255);
  --list-item-hover-color: rgb(98, 94, 119);
  --odd-list-items-color: rgb(136, 131, 158);
  --even-list-items-color: rgb(122, 117, 147);
}

body {
  font-size: 18px;
  letter-spacing: 0.05em;
  font-family: "Roboto", sans-serif;
}

/* Header */

.shopping-list-header {
  background-color: var(--header-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.shopping-list-heading {
  font-size: 2em;
  font-weight: 700;
  color: var(--header-text-color);
}

.shopping-list-header-text {
  font-size: 1.5em;
  font-weight: 400;
  color: var(--header-text-color);
}

/* Main Part */

.bg {
  background-color: var(--background-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.shopping-list-form {
  list-style-type: none;
}

.shopping-list-item {
  height: 2.5em;
  width: 45em;
  display: inline-block;
  text-align: start;
  color: var(--list-text-color);
}

.shopping-list-item:hover {
  background-color: var(--list-item-hover-color);
  border-top-color: var(--list-text-color);
  border-bottom-color: var(--list-text-color);
}

.shopping-list-item:active {
  background-color: var(--header-text-color);
}

li:nth-of-type(odd) {
  background-color: var(--odd-list-items-color);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

li:nth-of-type(even) {
  background-color: var(--even-list-items-color);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

input[type="checkbox"] {
width: 1.1em;
height: 1.1em;
}

input {
  margin: 0.5em;
}

.list-field {
  display: flex;
}

label {
  width: 45em;
  height: 2.5em;
}

.additional-list-text {
  font-size: 0.6em;
}

.additional-list-text::before {
  content: "(";
}

.additional-list-text::after {
  content: ")";
}

/* Bon appetit button */

.bon-appetit-button {
  border: none;
  background-color: var(--header-color);
  width: 30em;
  height: 2.5em;
  font-size: 1.5em;
  font-weight: 400;
  color: var(--header-text-color);
}
