* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url(../font-assets/roboto/Roboto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url(../font-assets/pt-sans/PTSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 1.5em;
}

.pg-container {
    width: 100%;
    padding: 0.9em 2.8em 7em 2.8em;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

mark {
    background-color: rgba(0, 0, 0, 0.1);
}

.width-container {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.header-link {
    display: flex;
    justify-content: space-between;
    max-width: 20em;
    text-align: center;
}

.eng-icon {
    max-width: 2.5em;
}

.eng-img {
    vertical-align:middle;
}

.navigation-list {
    list-style: none;
}

li {
    display: inline-block;
}

.konstrut-logo {
    max-width: 12em;
}

h2 {
    font-family: "PT Sans";
    margin-bottom: 1.5em;
}

h2::first-letter {
    font-size: 0.4em;
    vertical-align:super;
    font-weight: bold;
}

.parag-main-word::before {
    content: "+";
    font-weight: bold;
    margin-right: 0.5em;
    vertical-align:auto;
}

p {
    margin-bottom: 2em;
}

.homework-link {
    padding: 1em 3em;
}