* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  background-color: pink;
  height: 100vh;
  width: 100%;

}

img {
  width: 100%;
}

.firework-container {
  display: flex;
  flex-direction: column;
}

.firework {
  max-width: 240px;
  max-height: 240px;
}

.firework--one {
  margin-bottom: 20px;
}

.container {
  padding-top: 150px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}