doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="../scss/index.css")
    title Manifest
  body 
    header.header 
      .logo
        .logo__text
          svg(width="135" height="13")
            use(xlink:href="../manifest.svg#manifest-logo")
      .header__container
        .search__icon
          svg(width="16" height="16")
            use(xlink:href="../manifest.svg#magnifier")
        .menu-btn
          .menu-btn__burger
              