@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(0, 0, 0);
  --link-hover-color: rgb(255, 156, 62);
  --main-font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(146, 146, 145);
  font-family: var(--main-font-family);
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.my-base-page {
  margin: 4em;
}

.main-heading {
  font-size: 2em;
}

.my-name {
  font-size: 1.5em;
  margin: 1em 0;
}

.homework-link:hover {
  color: var(--link-hover-color);
  border-bottom: 2px solid var(--link-hover-color);
}

li {
  list-style-type: decimal;
  padding-left: 1em;
}