@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  font-family: "Gilroy";
  --main-text-color: rgb(0, 0, 0);
  --additional-text-color: rgb(130, 130, 130);
  --message-color: rgb(255, 255, 255);
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* Block 1: header with navigation  */

.navigation {
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
}

.border-bottom {
  width: 60%;
  margin: 0 auto;
  border-bottom: 2px solid var(--additional-text-color);
  opacity: 0.5;
  margin-top: 2em;
  margin-bottom: 2em;
}

.heading-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 63em;
  align-items: center;
}

a {
  color: var(--additional-text-color);
  text-decoration: none;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
  text-shadow: 0px 1px 3px var(--additional-text-color);
}

.navigation_link:hover, .navigation_link:active {
  color: var(--main-text-color);
}

.main-heading {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.novik-info {
  text-align: left;
  font-weight: 500;
}

.lang {
  writing-mode:tb-rl;
  transform: rotate(180deg);
  font-weight: 700;
}

.lang-link:hover {
  color: var(--main-text-color);
}

.denis-novik-foto-container {
  text-align: center;
  margin: 2em auto;
}

.denis-novik-foto {
  width: 60%;
}

/* Block 2: About Denis Novik */

.bg-banner {
  height: 30em;
  background: url(../image/bg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.section-headings {
  font-size: 2.1em;
  font-weight: bold;
  text-align: center;
  padding: 3em 0 1em;
}

.about-me-text {
  text-align: center;
  padding: 1em 0;
  font-weight: 500;
}

/* Block 3: Denis Novik's Skills */

.skills-text {
  text-align: center;
  padding: 1em 0;
  font-weight: 500;
}

.programs {
  width: 60%;
  margin: 4em auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.program-bg {
  background-color: var(--main-text-color);
  width: 5em;
}

.figma-icon {
  width: 5em;
}

.program-name {
 color: var(--additional-text-color);
 padding: 0.8em 0 2em;
 font-weight: 700;
 font-size: 0.8em;
}

/* block 4: Denis Novik's Portfolio */

.portfolio-bg {
  background-image: url(../image/bg-portfolio.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.site-link-img {
  display: block;
  width: 60%;
  margin: 4em auto 1em;
}

.portfolio-link-container {
  text-align: center;
}

.portfolio-site-link {
  color: var(--main-text-color);
  border-bottom: 1px solid #000;
}

.portfolio-site-link:hover {
  font-weight: bold;
}

.last-portfolio-link {
  padding-bottom: 6em;
}

/* Block 5: Footer - Contacts */

.contact-text {
  margin: -2em;
  font-weight: 500;
}
.message-btn {
  margin: 4em auto 3em;
  background-color: var(--main-text-color);
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
}
.message-text {
  padding: 0.4em 0;
  text-align: center;
  color: var(--message-color);
  letter-spacing: 0.1em;
  font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 18%;
  margin: 0 auto;
}

.sm-icon {
  width: 2.9em;
}

.like-me-on {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--additional-text-color);
  text-align: center;
  margin: 2em auto 6em;
}