.c-manifest {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    font-family: $ff-headings;
    font-size: map-get($font-sizes, "main-title");
    width: 100%;
    max-width: 692px;
    margin-bottom: 128px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

    @media screen and (max-width: 576px) {
      font-size: map-get($font-sizes, "title");
    }

    @media screen and (max-width: 450px) {
      text-align: left;
    }
  }
}
