.menu-btn {
  position: relative;
  @include flexCenter;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &__burger {
    width: 24px;
    height: 2px;
    background: map-get($colors, "heading");
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  &::before,
  &::after {
    width: 24px;
    height: 2px;
    background: map-get($colors, "heading");
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    content: "";
    position: absolute;
  }

  &::before {
    transform: translateY(-7px);
  }

  &::after {
    transform: translateY(7px);
  }
}

// Animation
.menu-btn.open .menu-btn__burger {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open::before {
  transform: rotate(45deg);
}

.menu-btn.open::after{
  transform: rotate(-45deg);
}


