@import "reset";
@import "variables";
@import "mixins";
@import "burger";
@import "./media-queries.scss/mobile";
@import "./media-queries.scss/tablet-portrait";
@import "./media-queries.scss/tablet-landscape";
@import "./media-queries.scss/desktop";

// Page styles, tag styles
body {
  background-color: map-get($colors, "background-color");
  min-height: 100vh;
  font-size: map-get($font-sizes, "main");
  color: map-get($colors, "heading");
  font-family: $ff-text;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: map-get($colors, "heading")
}

li {
  list-style: none;
}

// Page Wrapper

.wrapper {
padding: 1.5em 1.25em 4.25em;
}

// * Header

.header {
  @include flexSpaceBetween;

  &__container {
    @include flexSpaceBetween;
  }
}



