@import "reset";
@import "variables";
@import "mixins";
@import "burger";
@import "./media-queries.scss/mobile";
@import "./media-queries.scss/tablet-portrait";
@import "./media-queries.scss/tablet-landscape";
@import "./media-queries.scss/desktop";

// Page styles, tag styles
body {
  background-color: map-get($colors, "background-color");
  min-height: 100vh;
  font-size: map-get($font-sizes, "main");
  color: map-get($colors, "heading");
  font-family: $ff-text;
}

h1 {
  font-weight: normal;
}

img {
  width: 100%;
}

svg {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: map-get($colors, "background");
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  padding-bottom: 0.1rem;

  &:hover:not(.e-arrow) {
    color: map-get($colors, "background");
    border-bottom: 2px solid map-get($colors, "background");
    border-radius: 1px;
  }

  &:active,
  &:focus {
    color: map-get($colors, "active");
    border-color: map-get($colors, "active");
  }
}

li {
  list-style: none;
}

// * Header

.header {
  @include flexSpaceBetween;

  &__container {
    @include flexSpaceBetween;
  }
}

// Carousel
.carousel-inner__custom {
  padding-left: 1.5rem;
  @include pagePadding;
}

.carousel-item__custom {
  width: 100%;
  margin-top: 2.5rem;
}

.carousel__text {
  margin-top: 1rem;
}

// Description

.c-description {
  @include flexSpaceBetween;
  flex-wrap: wrap;
}

// Latest Posts

.c-latest-posts {

  &__arrow-container {
    @include flexSpaceBetween;
    width: 6.25rem;
  }

  &__view-all {
    color: map-get($colors, "description");
    
    font: {
      size: map-get($font-sizes, "main");
      weight: normal;
    }
  }

  &__title {
    color: map-get($colors, "heading");
    letter-spacing: 2px;

    font: {
      family: $ff-headings;
      size: map-get($font-sizes, "subtitle");
      weight: normal;
    }
  }

  &__flex-container {
    @include flexSpaceBetween;
    flex-wrap: wrap;
  }
}

// Interface Design

.c-interface-design, .c-technology, .c-visual-design {

    &__text-container {
      font-size: map-get($font-sizes, "description");
      color: map-get($colors, "description");
    }

    &__title {
      @extend .c-latest-posts__title;
    }

    &__text {
      @extend .c-description__text;
    }
  }

 
