@import url("https://fonts.googleapis.com/css2?family=Lato&family=Red+Hat+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 375px) {
  body {
    width: 100%;
    max-width: 576px;
  }

  .header {
    padding: 0 1rem;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .menu-btn {
    margin-left: 0.75rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger {
    width: 24px;
    height: 2px;
    background: #000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn::before, .menu-btn::after {
    width: 24px;
    height: 2px;
    background: #000;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    content: "";
    position: absolute;
  }
  .menu-btn::before {
    transform: translateY(-7px);
  }
  .menu-btn::after {
    transform: translateY(7px);
  }

  .menu-btn.open .menu-btn__burger {
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open::before {
    transform: rotate(45deg);
  }

  .menu-btn.open::after {
    transform: rotate(-45deg);
  }

  .c-navigation {
    background-color: #2e2e2e;
    line-height: 1.5rem;
    transition: all 2s ease-in-out;
    padding: 1rem 0;
    display: none;
    text-align: center;
  }
  .c-navigation__menu {
    padding: 0 1rem;
  }

  .c-home {
    margin-top: 4.6rem;
    line-height: 3.25rem;
    padding: 0 1rem;
  }
  .c-home__title {
    font-family: "Red Hat Display", sans-serif;
    font-size: 32px;
    font-weight: normal;
  }

  .carousel__text {
    margin-bottom: 3rem;
  }

  .c-description {
    padding: 0 1rem;
  }
  .c-description__container {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  .c-description__title {
    margin-bottom: 1.75rem;
  }
  .c-description__subtitle {
    margin-bottom: 1.75rem;
  }
  .c-description .e-arrow {
    width: 100%;
    max-width: 1.5rem;
    margin-bottom: 3rem;
  }
  .c-description__text, .c-interface-design__text,
.c-technology__text,
.c-visual-design__text {
    color: #565656;
    line-height: 27px;
    margin-bottom: 3rem;
  }

  .c-latest-posts {
    padding: 0 1rem;
  }
  .c-latest-posts__title-container {
    margin-bottom: 3rem;
  }
  .c-latest-posts__title, .c-interface-design__title,
.c-technology__title,
.c-visual-design__title {
    margin-bottom: 0.5rem;
  }

  .c-interface-design__img-container,
.c-technology__img-container,
.c-visual-design__img-container {
    margin-bottom: 1rem;
  }
  .c-interface-design__text-container, .c-interface-design__title,
.c-technology__text-container,
.c-technology__title,
.c-visual-design__text-container,
.c-visual-design__title {
    margin-bottom: 1.5rem;
  }
  .c-interface-design__description,
.c-technology__description,
.c-visual-design__description {
    margin-bottom: 0.5rem;
  }
  .c-interface-design__text,
.c-technology__text,
.c-visual-design__text {
    margin-bottom: 3rem;
  }

  .c-project__contacts {
    padding-top: 4rem;
  }
  .c-project__title {
    color: #000;
    font-size: 32px;
    margin-bottom: 1.25rem;
  }
  .c-project__telephone {
    margin-bottom: 1rem;
  }
  .c-project__contacts {
    margin-bottom: 3rem;
  }
  .c-project__networks {
    padding: 0;
  }
  .c-project__network {
    margin-bottom: 1.5rem;
  }
  .c-project__network:last-child {
    margin-bottom: 3rem;
  }
  .c-project__copyright {
    padding-bottom: 4.25rem;
  }
}
@media (min-width: 400px) {
  .c-project {
    text-align: center;
  }
}
body {
  min-height: 100vh;
  font-size: 16px;
  color: #000;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: normal;
}

img {
  width: 100%;
}

svg {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  padding-bottom: 0.1rem;
}
a:hover:not(.e-arrow) {
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
}
a:active, a:focus {
  color: #ffa500;
  border-color: #ffa500;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-inner__custom {
  padding-left: 1.5rem;
  padding: 0 1rem;
}

.carousel-item__custom {
  width: 100%;
  margin-top: 2.5rem;
}

.carousel__text {
  margin-top: 1rem;
}

.c-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.c-latest-posts__arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.25rem;
}
.c-latest-posts__view-all {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: normal;
}
.c-latest-posts__title, .c-interface-design__title,
.c-technology__title,
.c-visual-design__title {
  color: #000;
  letter-spacing: 2px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.c-latest-posts__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.c-interface-design__text-container,
.c-technology__text-container,
.c-visual-design__text-container {
  font-size: 12px;
  color: #7b7b7b;
}
.c-project {
  background-color: #f4f4f4;
  padding: 0 1rem;
}
.c-project__network-link, .c-project__link {
  color: #000;
  font-size: 16px;
}
.c-project__title {
  letter-spacing: 2px;
}
.c-project__copyright {
  color: #000;
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */