@import url("https://fonts.googleapis.com/css2?family=Lato&family=Red+Hat+Display&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 24px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn::before, .menu-btn::after {
  width: 24px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
}
.menu-btn::before {
  transform: translateY(-7px);
}
.menu-btn::after {
  transform: translateY(7px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open::before {
  transform: rotate(45deg);
}

.menu-btn.open::after {
  transform: rotate(-45deg);
}

@media (min-width: 375px) and (max-width: 576px) {
  body {
    width: 100%;
    max-width: 576px;
  }

  .header {
    padding: 0 1rem;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .menu-btn {
    margin-left: 0.75rem;
  }

  .c-navigation {
    background-color: #2e2e2e;
    line-height: 1.5rem;
    transition: all 2s ease-in-out;
    padding: 1rem 0;
    display: none;
    text-align: center;
  }
  .c-navigation__menu {
    padding: 0 1rem;
  }

  .c-home {
    margin-top: 4.6rem;
    line-height: 3.25rem;
    padding: 0 1rem;
  }
  .c-home__title {
    font-family: "Red Hat Display", sans-serif;
    font-size: 32px;
    font-weight: normal;
  }

  .carousel__text {
    margin-bottom: 3rem;
  }

  .c-description {
    padding: 0 1rem;
  }
  .c-description__container {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: normal;
  }
  .c-description__title {
    margin-bottom: 1.75rem;
  }
  .c-description__subtitle {
    margin-bottom: 1.75rem;
  }
  .c-description .e-arrow {
    width: 100%;
    max-width: 1.5rem;
    margin-bottom: 3rem;
  }
  .c-description__text {
    color: #565656;
    line-height: 27px;
  }
}
body {
  min-height: 100vh;
  font-size: 16px;
  color: #000;
  font-family: "Lato", sans-serif;
}

h1 {
  font-weight: normal;
}

img {
  width: 100%;
}

svg {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  padding-bottom: 0.1rem;
}
a:hover:not(.e-arrow) {
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
}
a:active, a:focus {
  color: #ffa500;
  border-color: #ffa500;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-inner__custom {
  padding-left: 1.5rem;
  padding: 0 1rem;
}

.carousel-item__custom {
  width: 100%;
  margin-top: 2.5rem;
}

.carousel__text {
  margin-top: 1rem;
}

.c-description {
  display: flex;
  flex-wrap: wrap;
}/*# sourceMappingURL=index.css.map */