* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c-logo-text: rgb(23, 58, 86);
  --c-heading: hsl(35, 22%, 15%);
  --c-main-text: rgb(84, 72, 55);
  --c-sign-in-button-border: rgb(188, 208, 229);
  --c-sign-up-text: rgb(255, 255, 255);
  --c-sign-up-bg: rgb(255, 153, 0);
  --c-bg: rgb(242, 242, 242);
  --main-ff: "Poppins", sans-serif;
}

body {
  font-family: var(--main-ff);
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--c-heading);
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 80em;
  height: 100%;
  background-color: var(--c-bg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  padding: 0 3em;
}

/* Header with navigation */

.c-header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.1em;
}

.c-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 10em;
  cursor: pointer;
}

.c-logo__text-container {
  transform: translateY(15%);
  margin-left: 0.5em;
}

img {
  display: block;
  width: 100%;
}

.c-navigation {
  width: 100%;
  max-width: 19.5em;
  margin-left: 15em;
  margin-right: 1.7em;
}

.c-navigation__list {
  text-decoration: none;
  color: var(--c-heading);
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: 400;
}

.c-header__buttons-container {
  width: 100%;
  max-width: 12.5em;
  display: flex;
  justify-content: space-between;
}

.e-button--transparent,
.e-button {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.6em 1.4em;
}

.e-button--transparent {
  color: var(--c-logo-text);
  border: 2px solid var(--c-sign-in-button-border);
  margin-right: 0.8em;
}

.e-button  {
  background-color: var(--c-sign-up-bg);
  color: var(--c-sign-up-text);
  border: none;
}

/* Main Heading + img */

.c-start-block {
  display: flex;
  justify-content: space-around;
  margin-top: 6.4em;
}

.c-start-block__title {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--c-heading);
  margin-bottom: 1.7em;
}

.c-start-block__text {
  font-size: 0.9em;
  color: var(--c-main-text);
  line-height: 1.5em;
  margin-bottom: 2.5em;
}

.e-button--big {
  display: inline-block;
  background-color: var(--c-sign-up-bg);
  color: var(--c-sign-up-text);
  border: none;
  padding: 0.8em 2.2em;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 4px;
}

.c-start-block__buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 20.6em;
}
.c-video {
  width: 100%;
  max-width: 9.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-video__icon-container {
  width: 100%;
  max-width: 1.1em;
  cursor: pointer;
}

.e-video__link {
  color: var(--c-sign-up-bg);
  font-size: 0.9em;
  font-weight: 600;
  border-bottom: 1px solid var(--c-sign-up-bg);
}

.c-start-block__img-container {
  width: 100%;
  max-width: 33.6em;
  margin-left: 0.3em;
  margin-bottom: 6.1em;
}

/* Design Tools */

.c-tools__title {
  text-align: center;
  font-size: 2em;
  color: var(--c-heading);
  font-weight: 700;
  margin-bottom: 3em;
}

.c-tools__content {
  display: flex;
  justify-content: space-between;
}

.c-card__img-container {
  width: 100%;
  max-width: 2.8em;
  margin-bottom: 1.7em;
}

.c-card__title {
  font-size: 1.2em;
  color: var(--c-heading);
  font-weight: 600;
  margin-bottom: 0.8em;
}

.c-card__text {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--c-main-text);
}

.c-card__button-container {
  margin-top: 1.95em;
  text-align: center;
}

/* Design Professionals */

.c-professionals {
  display: flex;
  justify-content: space-around;
  margin-top: 11.6em;
  margin-bottom: 5.55em;
}

.c-professionals__content, .c-marketers__content {
  margin: auto 0;
}

.c-professionals__subtitle, .c-professionals__text, .c-managers__subtitle, .c-marketers__subtitle {
 font-size: 0.9em;
 font-weight: 500; 
 color: var(--c-main-text);
 margin-bottom: 0.27em;
}

.c-professionals__text-title, .c-marketers__text-title {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--c-heading);
  margin-bottom: 1.1em;
}

.c-professionals__title, .c-managers__title, .c-marketers__title {
  font-size: 2em;
  font-weight: bold;
  color: var(--c-heading);
  margin-bottom: 1.22em;
}

.c-professionals__text, .c-marketers__text {
  margin-bottom: 1.66em;
}

.c-professionals__img-container {
  width: 100%;
  max-width: 29em;
  margin-left: 5.5em;

}


/* Product Managers */

.c-managers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5.8em;
  margin-right: 4.4em;
}

.c-manager__img-container {
  width: 100%;
  max-width: 29.7em;
  margin-right: 5.5em;
}

.c-managers__text-container {
  display: flex;
  justify-content: flex-start;
}

.c-managers__icon-container {
  width: 100%;
  max-width: 1.9em;
  margin-right: 1.66em;
}

/* Marketers */

.c-marketers {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8em;
}

.c-marketers__img-container {
  width: 100%;
  max-width: 30em;
}
/* Footer */

.c-footer__line {
  border-bottom: 1px solid rgba(188, 208, 229, 0.5);
  margin-bottom: 5.8em;
}

.c-logo {
  margin-bottom: 1.95em;
}

.c-footer__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4.7em;
}

.c-footer-navigation {
  width: 100%;
  max-height: 7.8em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9em;
  color: var(--c-main-text);
  font-weight: 400;
  padding-left: 18.5em;
  line-height: 1.95em;
  margin-right: 4em;

}

.c-footer__form {
  width: 100%;
  max-width: 18em;
}

.c-footer__input {
  border-style: none;
  border: 1px solid rgba(188, 208, 229, 1);
  border-radius: 4px;
  width: 100%;
  max-height: 2.5em;
  height: 100%; 
  padding-left: 1em;
}

.e-button--footer  {
  margin-top: 1.11em;
  padding: 0.45em 0.8em;
}

