include ./src/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Favicon
    link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
    //- Styles
    link(rel="stylesheet", href="./index.css")
    title Manifest
  body 
    header.container.c-header 
      .c-logo
        img.c-logo__image(src="./assets-manifest/icons/manifest-logo.svg", alt="Manifest Logotype")
      .c-header__nav-container
        +navigation(values)
        .c-header__burger-wrapper
          .c-header__magnifier-container
            img.c-header__magnifier(src="./assets-manifest/icons/magnifier-icon.svg", alt="Magnifier")
          .c-menu
            .c-menu__burger
    .container.c-manifest
      h1.c-manifest__title Manifest is a newborn theme. Clean, simple and fast.
      .c-manifest__slider-container 
        .c-manifest__slider 
    .container.c-profession 
      .c-profession__title-container 
        p.c-profession__title Full-time UI/UX designer 
        p.c-profession__title Head of Design at VeronaLabs.com
        .c-profession__arrow-container 
          +arrow()
      .c-profession__description-container 
        p.c-profession__description We work with clients around the world from our headquarters in Charleston, South Carolina. 
        p.c-profession__description We focus on naming, branding, brand narratives, website design and development, and brand experiences.
    .c-latest-posts 
      .c-latest-posts__title-container 
        h2.c-latest-posts__title Latest Posts
        .c-latest-posts__link-container 
          .c-latest-posts__view-container 
            a.c-latest-posts__view(src="#") View All
          .c-latest-posts__arrow-container 
            +arrow()
      .c-cards
        .c-cards__block 
          .c-cards__image-container 
            img.c-cards__image(src="./assets-manifest/home-mobile/interface-design-img.png" alt="Interface Design Image")
          .c-cards__date-container 
            p.c-cards__description Interface Design
            p.c-cards__date 8 June, 2020
          h2.c-cards__title UX traffic light colours
          p.c-cards__text UI has to make a huge visual difference between warning, an alert and a success.
        .c-cards__block 
          .c-cards__image-container 
            img.c-cards__image(src="./assets-manifest/home-mobile/technology-img.png" alt="Technology")
          .c-cards__date-container 
            p.c-cards__description Technology
            p.c-cards__date 6 May, 2020
          h2.c-cards__title Using UX Design to Build a Sustainable Future
          p.c-cards__text Transformation has to be driven by everybody, not just by climate groups.
        .c-cards__block 
          .c-cards__image-container 
            img.c-cards__image(src="./assets-manifest/home-mobile/visual-design-img.png" alt="Visual Design")
          .c-cards__date-container 
            p.c-cards__description Visual Design
            p.c-cards__date 8 June, 2020
          h2.c-cards__title Creativity vs. UX
          p.c-cards__text Is it possible to create a delightful user experience without following best UX practices?
    footer.c-footer 
      .c-footer__contacts-container 
        .c-footer__product Need a project?
        .c-footer__contacts
          .c-footer__tel (239) 555-0108
          .c-footer__mail tanya.hill@example.com
      .c-networks 
        ul.c-networks__list 
          li.c-networks__item 
            a.c-networks__link(src="https://www.facebook.com/") Facebook
          li.c-networks__item 
            a.c-networks__link(src="https://www.instagram.com/") Instagram
          li.c-networks__item 
            a.c-networks__link(src="https://dribbble.com/") Dribbble
          li.c-networks__item 
            a.c-networks__link(src="https://www.linkedin.com/") Linkedin
      .c-footer__copyright 
        p.e-copyright © Copyright Manifest Theme. All rights reserved 
    script(src="./js/index.js") 
