include ./src/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- Favicon
    link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
    //- Styles
    link(rel="stylesheet", href="./index.css")
    title Manifest
  body 
    header.container.c-header 
      .c-logo
        img.c-logo__image(src="./assets-manifest/icons/manifest-logo.svg", alt="Manifest Logotype")
      .c-header__nav-container
        +navigation(values)
        .c-header__burger-wrapper
          .c-header__magnifier-container
            img.c-header__magnifier(src="./assets-manifest/icons/magnifier-icon.svg", alt="Magnifier")
          .c-menu
            .c-menu__burger
    script(src="./js/index.js") 
