* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --c-circle-background: #fbd971;
    --c-circle-eyes: #f29c1f;
    --c-circle-mouth: #f0c419;
    --c-circle-eyes-surprised: #af8066;
    --c-crone: #000;
    --c-credit-card-bg: #f0c41b;
    --c-credit-card-line-up: #806f5e;
    --c-credit-card-line-middle: #f9eab0;
    --c-credit-card-circle: #db2215;
    --c-credit-card-circle-blue: #245ea9;
    --c-calculator: #fff;
}

.container {
    text-align: center;
}

/* Circle sceptic */

.c-circle__background {
    fill: var(--c-circle-background);
}

.c-circle__eye, .c-circle__mouth {
    stroke-width: 15;
    stroke-linecap: round;
}

.c-circle__eye {
    stroke: var(--c-circle-eyes);
}

.c-circle__mouth {
    stroke: var(--c-circle-mouth);
}

/* Circle surprised */

.c-circle__background--eye {
    fill: var(--c-circle-eyes-surprised);
}

/* Crone */

.c-crone__color, .c-crone__line {
    fill: transparent;
    stroke: var(--c-crone);
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* Credit Card */
.c-credit-card__background {
    fill: var(--c-credit-card-bg);

}

.c-credit-card__line--up {
    stroke: var(--c-credit-card-line-up);
    stroke-width: 35;
}

.c-credit-card__line--middle, .c-credit-card__line--dash {
    stroke: var(--c-credit-card-line-middle);
    stroke-width: 10;
    stroke-linecap: round;
}

.c-credit-card__line--middle {
    stroke-dasharray:45 20 45;
}

.c-credit-card__line--dash {
   stroke-dasharray: 4 20 10 20; 
}

.c-credit-card__circle {
fill: var(--c-credit-card-circle);
}

.c-credit-card__circle--blue {
    fill: var(--c-credit-card-circle-blue);
}

/* Calculator */

.c-calculator {
    fill: var(--c-calculator);
    
    stroke: var(--c-calculator);
    stroke-linecap: round;
}
.c-calculator__bg {
    fill: var(--c-crone);
}

.c-calculator__screen {
    stroke-width: 40;
}

.c-calculator__plus, .c-calculator__minus, .c-calculator__multiply, .c-calculator__divide, .c-calculator__plus--vertical, .c-calculator__multiply--above {
    stroke-width: 16;
}