@media (min-width: 375px) {
  body {
    width: 100%;
    max-width: 576px;
  }

  // Header

  .header {
    @include pagePadding;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
  }

  // Burger Navigation

  .menu-btn {
    margin-left: 0.75rem;
  }

  .c-navigation {
    background-color: map-get($colors, "burger");
    line-height: 1.5rem;
    transition: all 2s ease-in-out;
    padding: 1rem 0;
    display: none;
    text-align: center;

    &__menu {
      @include pagePadding;
    }
  }

  // Main Info

  .c-home {
    margin-top: 4.6rem;
    line-height: 3.25rem;
    @include pagePadding;

    &__title {
      font: {
        family: $ff-headings;
        size: map-get($font-sizes, "title");
        weight: normal;
      }
    }
  }

  // Carousel

  .carousel__text {
    margin-bottom: 3rem;
  }

  // Description

  .c-description {
    @include pagePadding;

    &__container {
      font: {
        family: $ff-text;
        size: map-get($font-sizes, "profession");
        weight: normal;
      }
    }

    &__title {
      margin-bottom: 1.75rem;
    }

    &__subtitle {
      margin-bottom: 1.75rem;
    }

    .e-arrow {
      width: 100%;
      max-width: 1.5rem;
      margin-bottom: 3rem;
    }

    &__text {
      color: map-get($colors, "text");
      line-height: 27px;
    }
  }
}
