@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Font Family
$f-main: 'Roboto', sans-serif;

// Font Sizes
$fs-base: 16px;
$fs-input: 18px;
$fs-title: 24px;

// Font Weights
$fw-regular: 400;
$fw-bold: 700;

// Colors
$c-grey: #2e2e30;
$c-white: #e8eaed;
$c-middle-grey: #1b1c1f;
$c-btn-hover: #575757;
$c-btn-bg: #c0bfbf;
$c-error-bg: #ea8b8b;
$c-error-border: #a70c0c;
$c-focus-border: #1064a8;
$c-focus-bg: #95c3ff;